
*{
    margin: 0;
    padding: 0
}

.section{
    display: grid;
    width: 100%;
    height: auto;
}
.header{
    background-color: aquamarine;
    display: grid;
    height: 100px;
    margin-bottom: 20px;
}
.main{
    background-color: antiquewhite;
    display: grid;
    width: 96%;
    margin: auto;
    grid-template-columns:1fr 1fr 1fr 1fr fr;
    grid-template-rows: 1fr 1fr;
}
div{
    width: 50px;
    display: grid;
    border: solid 2px black;
}
.footer{
    background-color: aqua;
    margin-top: 30px;

}